button,
.btn {
  height: 32px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  text-transform: uppercase;
  gap: 8px;
  padding: 0 16px;
}

.btn-white {
  background: #f2efe2;
}

.inline-buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  display: flex;
  justify-content: space-between;
}

.btn-green {
  border: 1px solid #797d45;
  color: #797d45;
  min-width: 120px;
}

.btn-orange {
  background-color: #ff432a;
  color: #f2efe2;
}

.btn-orange-outline {
  color: #ff432a;
  background-color: #f2efe2;
  border: 1px solid #ff432a;
}

.btn.btn-burgundy {
  border: 1px solid #381519;
}

.btn-simple {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
}

.btn-outline {
  border: 1px solid #381519;
}

// Button containers

.navigation-buttons {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.shelf-buttons-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.shelf-buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  display: flex;
}

select {
  background-color: transparent;
}
