nav {
  z-index: 100;
}

#nav {
  border-right: 1px solid #381519;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40vh;
  min-width: 40vh;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-links {
  border-top: 1px solid #381519;
  width: 100%;
  margin-top: 30px;
}

.nav-link {
  border-bottom: 1px solid #381519;
  color: #381519;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
}

.nav-links > a.active {
  color: #ff432a;
}

.nav-link.active {
  color: #ff432a !important;
}

#tabmob-nav {
  position: fixed;
  width: 100vw;
  padding: 0;
  background-color: #f2efe2 !important;
  border-bottom: 1px #381519 solid;
}

#tabmob-logo {
  height: 40px;
}

.nav-container {
  width: 100%;
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-toggle {
  padding: 0;
  min-width: 30px;
  width: 30px;
  border: none;
  z-index: 100;
}

#navbar-toggle:focus {
  box-shadow: none;
}

.navbar-nav {
  padding-bottom: 30px;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  background-image: url("src/assets/icons/Menu.svg") !important;
}

.container,
.container-md,
.container-sm {
  max-width: none;
}
