#nav {
  border-right: 1px solid #381519;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40vh;
  min-width: 40vh;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-links {
  border-top: 1px solid #381519;
  width: 100%;
  margin-top: 30px;
}

.nav-link {
  border-bottom: 1px solid #381519;
  color: #381519;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
}

.nav-links > a.active {
  color: #ff432a;
}
