.search-form {
  background-color: #dfdcce;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 25px;
}

.form {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.form-wrap {
  width: 100%;
  display: flex;
}

.input-field {
  background-color: #f9f7f1;
  border: 0 solid #000;
  border-radius: 20px;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  flex: 1;
}

.submit-btn {
  color: #381519;
  background-color: #f9f7f1;
  border: 1px solid #381519;
  border-radius: 20px;
  width: 125px;
  height: 40px;
}
