.shelf-container {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: #f9f7f1;
  flex-flow: column;
  padding: 20px 1.5rem;
  display: flex;
}

.shelf-books {
  grid-column-gap: 35px;
  grid-row-gap: 50px;
  flex-flow: wrap;
  display: flex;
}

.book-card {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  max-width: 220px;
  display: flex;
}

.book-thumbnail-wrap-med {
  width: 220px;
  height: 300px;
}

.rating {
  justify-content: flex-start;
  align-items: flex-start;
  height: 14px;
  display: flex;
}
