.bookshelf-preview {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f9f7f1;
  width: 100%;
  max-width: 100%;
  padding: 20px 1.5rem;
  display: flex;
  overflow: scroll;
  min-height: 197px;

  @media screen and (max-width: 570px) {
    margin-left: -1.5rem;
    min-width: 100vw;
  }
}

.shelf-title {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 155px;
  min-width: 155px;
  margin-right: 30px;
  display: flex;

  @media screen and (max-width: 570px) {
    margin-right: 0;
  }
}

.bookshelf-book-preview {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f2efe2;
  flex: none;
  width: 416px;
  padding: 16px;
  display: flex;
}

.book-thumbnail-wrap-sm {
  flex: none;
  width: 120px;
  height: 165px;
}

.book-preview-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.book-preview-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
