.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #381519;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.02rem;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.02rem;
}

h4 {
  line-height: 1.1;
}

p {
  font-family: "Noto Serif", Georgia, Times, serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.35;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  letter-spacing: 0.02rem;
}

a:hover {
  opacity: 70%;
}

.bold {
  font-weight: bold;
}

.p-large {
  text-align: justify;
  font-size: 16px;
  line-height: 1.35;
}

.italic {
  font-style: italic;
}

.overline {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coolvetica", Helvetica, sans-serif;
}

.text-burgundy-50 {
  color: #38151980;
}

.text-white {
  color: #f2efe2;
}

.text-orange {
  color: #ff432a;
}

@media screen and (max-width: 570px) {
  h1 {
  }

  h2 {
    font-size: 2rem;
  }
}
