.user-welcome {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.user-welcome-img-wrap {
  border-radius: 50%;
  flex: none;
  width: 116px;
  height: 116px;
  overflow: hidden;
}
