@import "TextStyles";
@import "Buttons";
@import "Navigation";
@import "ShelfPreview";
@import "UserStyles";
@import "Shelf";
@import "Book";
@import "FormStyles";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Coolvetica", sans-serif;
  src: url("src/assets/fonts/coolvetica rg it.otf");
  src: url("src/assets/fonts/coolvetica rg.otf");
}

body {
  background-color: #f2efe2;
  color: #381519;
  font-family: "Coolvetica", Helvetica, sans-serif;
}

main {
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.hidden {
  display: none;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-wrap {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  display: flex;
}

.main-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  flex: 1;
  min-width: 60vw;
  padding: 50px 48px;
  display: flex;

  @media screen and (max-width: 991px) {
    padding: 5rem 1.875rem 3.125rem 1.875rem;
  }

  @media screen and (max-width: 570px) {
    padding: 5rem 1.25rem 3.125rem 1.25rem;
  }
}

.homepage {
  display: flex;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 991px) {
    flex-direction: column;

    #homepage-large-logo {
      width: 300px;
    }
  }
}

.homepage-image {
  justify-content: center;
  align-items: center;
  background-color: #f2efe2;
}

.bg-burgundy {
  background-color: #381519;
}

.bg-white {
  background-color: #f9f7f1;
}

.homepage-half {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  justify-content: center;

  .homepage-text-wrap {
    width: 354px;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 2rem;
    flex-grow: 1;

    .homepage-image {
      display: none;
    }

    .homepage-text-wrap {
      width: 500px;
    }
  }

  @media screen and (max-width: 512px) {
    .homepage-text-wrap {
      width: 95%;
    }
  }
}

#home-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 991px) {
  #landing-page-img {
    display: none;
  }
}
